.App {
  text-align: center;
}

.titulo {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.tabla {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 20px;
}

.tabla th {
  background-color:  #0004ff;
  color: white;
  text-align: center;
  padding: 10px;
  width: 200px;
}

.tabla td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.paginacion {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}

.paginacion li {
  margin: 0 5px;
}

.paginacion a {
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: #0004ff;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.paginacion .active a {
  background-color:  #0004ff;
  color: white;
  border-color:  #0004ff;
}

.paginacion a:hover {
  background-color:  #0004ff;
  color: white;
}